In [12]:
val ses=org.apache.spark.sql.SparkSession
val sparkSession= ses.builder().master("master1").appName("spark2").getOrCreate()

ses: org.apache.spark.sql.SparkSession.type = org.apache.spark.sql.SparkSession$@60d2aeb2
sparkSession: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@6943d823

In [2]:
import spark.implicits._
val columns = Seq("language","users_count")
val data = Seq(("Java", "20000"), ("Python", "100000"), ("Scala", "3000"))

import spark.implicits._
columns: Seq[String] = List(language, users_count)
data: Seq[(String, String)] = List((Java,20000), (Python,100000), (Scala,3000))

## creating RDD

In [13]:
val arr=Array(1,2,3,4,5,6)
val arrRDD= spark.sparkContext.parallelize(arr)

arr: Array[Int] = Array(1, 2, 3, 4, 5, 6)
arrRDD: org.apache.spark.rdd.RDD[Int] = ParallelCollectionRDD[22] at parallelize at <console>:31

## converting rdd to dataFrame

In [4]:
val arrDataFrame=arrRDD.toDF()

arrDataFrame: org.apache.spark.sql.DataFrame = [value: int]

In [5]:
arrDataFrame.show()

+-----+
|value|
+-----+
|    1|
|    2|
|    3|
|    4|
|    5|
|    6|
+-----+

## Create Dataframe

In [14]:
val df2= sparkSession.read.options(Map("inferSchema"->"true","delimiter"->",","header"->"true")).csv("E:/dataset/normalClassification/winequality-red.csv")

df2: org.apache.spark.sql.DataFrame = [fixed acidity: double, volatile acidity: double ... 10 more fields]

In [7]:
df2.show()

+-------------+----------------+-----------+--------------+-------------------+-------------------+--------------------+-------+----+---------+-------+-------+
|fixed acidity|volatile acidity|citric acid|residual sugar|          chlorides|free sulfur dioxide|total sulfur dioxide|density|  pH|sulphates|alcohol|quality|
+-------------+----------------+-----------+--------------+-------------------+-------------------+--------------------+-------+----+---------+-------+-------+
|          7.4|             0.7|        0.0|           1.9|              0.076|               11.0|                34.0| 0.9978|3.51|     0.56|    9.4|      5|
|          7.8|            0.88|        0.0|           2.6|              0.098|               25.0|                67.0| 0.9968| 3.2|     0.68|    9.8|      5|
|          7.8|            0.76|       0.04|           2.3|              0.092|               15.0|                54.0|  0.997|3.26|     0.65|    9.8|      5|
|         11.2|            0.28|       0.56|           1.9|              0.075|               17.0|                60.0|  0.998|3.16|     0.58|    9.8|      6|
|          7.4|             0.7|        0.0|           1.9|              0.076|               11.0|                34.0| 0.9978|3.51|     0.56|    9.4|      5|
|          7.4|            0.66|        0.0|           1.8|              0.075|               13.0|                40.0| 0.9978|3.51|     0.56|    9.4|      5|
|          7.9|             0.6|       0.06|           1.6|              0.069|               15.0|                59.0| 0.9964| 3.3|     0.46|    9.4|      5|
|          7.3|            0.65|        0.0|           1.2|              0.065|               15.0|                21.0| 0.9946|3.39|     0.47|   10.0|      7|
|          7.8|            0.58|       0.02|           2.0|              0.073|                9.0|                18.0| 0.9968|3.36|     0.57|    9.5|      7|
|          7.5|             0.5|       0.36|           6.1|              0.071|               17.0|               102.0| 0.9978|3.35|      0.8|   10.5|      5|
|          6.7|            0.58|       0.08|           1.8|0.09699999999999999|               15.0|                65.0| 0.9959|3.28|     0.54|    9.2|      5|
|          7.5|             0.5|       0.36|           6.1|              0.071|               17.0|               102.0| 0.9978|3.35|      0.8|   10.5|      5|
|          5.6|           0.615|        0.0|           1.6|0.08900000000000001|               16.0|                59.0| 0.9943|3.58|     0.52|    9.9|      5|
|          7.8|            0.61|       0.29|           1.6|              0.114|                9.0|                29.0| 0.9974|3.26|     1.56|    9.1|      5|
|          8.9|            0.62|       0.18|           3.8|0.17600000000000002|               52.0|               145.0| 0.9986|3.16|     0.88|    9.2|      5|
|          8.9|            0.62|       0.19|           3.9|               0.17|               51.0|               148.0| 0.9986|3.17|     0.93|    9.2|      5|
|          8.5|            0.28|       0.56|           1.8|              0.092|               35.0|               103.0| 0.9969| 3.3|     0.75|   10.5|      7|
|          8.1|            0.56|       0.28|           1.7|              0.368|               16.0|                56.0| 0.9968|3.11|     1.28|    9.3|      5|
|          7.4|            0.59|       0.08|           4.4|              0.086|                6.0|                29.0| 0.9974|3.38|      0.5|    9.0|      4|
|          7.9|            0.32|       0.51|           1.8|              0.341|               17.0|                56.0| 0.9969|3.04|     1.08|    9.2|      6|
+-------------+----------------+-----------+--------------+-------------------+-------------------+--------------------+-------+----+---------+-------+-------+
only showing top 20 rows

## Select

In [8]:
df2.select("citric acid","chlorides").show()

+-----------+-------------------+
|citric acid|          chlorides|
+-----------+-------------------+
|        0.0|              0.076|
|        0.0|              0.098|
|       0.04|              0.092|
|       0.56|              0.075|
|        0.0|              0.076|
|        0.0|              0.075|
|       0.06|              0.069|
|        0.0|              0.065|
|       0.02|              0.073|
|       0.36|              0.071|
|       0.08|0.09699999999999999|
|       0.36|              0.071|
|        0.0|0.08900000000000001|
|       0.29|              0.114|
|       0.18|0.17600000000000002|
|       0.19|               0.17|
|       0.56|              0.092|
|       0.28|              0.368|
|       0.08|              0.086|
|       0.51|              0.341|
+-----------+-------------------+
only showing top 20 rows

In [9]:
df2.select($"citric acid",$"chlorides")

res3: org.apache.spark.sql.DataFrame = [citric acid: double, chlorides: double]

In [10]:
import org.apache.spark.sql.functions.{expr}

import org.apache.spark.sql.functions.expr

In [11]:
df2.select($"density",$"chlorides",expr(concat(density,chlorides)name)).show()

In [ ]:
val columnsName=df2.columns
println(columnsName)

In [ ]:
df2.withColumn("fixed acidity",col("fixed acidity")*100)
.withColumn("chlorides",col("chlorides")-1000).show()

## Add new column

In [ ]:
val df3=df2.withColumn("xxxxxx",col("citric acid")*100).show()

In [ ]:
val test=df3.withColumn("residual sugar",)

## Filter a dataframe

In [ ]:
val m=df2.where($"citric acid" >0.36).filter($"residual sugar">1.8).select("total sulfur dioxide").show()

## Handling missing Value

In [16]:
val values=df2.count()

values: Long = 1599

In [17]:
val missinValueCount=df2.where($"residual sugar"===null).count()

missinValueCount: Long = 0

In [ ]:
val dropNa=df2.na.drop(how="all")

In [18]:
val fillNa=df2.na.fill("1")

fillNa: org.apache.spark.sql.DataFrame = [fixed acidity: double, volatile acidity: double ... 10 more fields]

## Sorting values

In [19]:
val sortData=df2.na.drop("any")
.sort(expr("chlorides")).select("citric acid","free sulfur dioxide").show()

+-----------+-------------------+
|citric acid|free sulfur dioxide|
+-----------+-------------------+
|       0.28|               36.0|
|       0.28|               36.0|
|       0.02|               18.0|
|       0.44|               21.0|
|       0.14|               15.0|
|       0.49|                8.0|
|       0.04|                4.0|
|        0.6|                5.0|
|       0.66|               15.0|
|        0.0|               16.0|
|       0.39|                4.0|
|        0.0|               17.0|
|        0.0|               16.0|
|        0.0|                3.0|
|       0.44|                6.0|
|       0.18|               16.0|
|       0.11|                6.0|
|        0.0|               14.0|
|       0.23|               16.0|
|        0.4|               25.0|
+-----------+-------------------+
only showing top 20 rows

sortData: Unit = ()